Flask==0.10.1
Flask-Admin
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Flask-Wtf
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
sqlalchemy-migrate
mysql-python
psycopg2
Werkzeug
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.19
celery==3.1.17
flower
itsdangerous==0.24
kombu==3.0.24
pytz==2014.10
wsgiref==0.1.2
feedparser
requests
gunicorn
python-dateutil==1.5
Flask-Restless
fabric
virtualenvwrapper