{% extends "base.html" %} {% block content %}

<script src="http://cdn.bootcss.com/jquery-infinitescroll/2.0b2.120519/jquery.infinitescroll.min.js"></script>
<script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.js"></script>
<script type="text/x-tmpl" id="tmpl-mask">
[% for (var i=0; i<o.objects.length; i++) { %]
<div class="scrollitem">

    <div class="row">
        <br>
        <div class="col-md-2 col-sm-3 text-center hide">
            <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"/></a>
        </div>
        <div class="col-md-10 col-sm-9">
            <div class="row">
                <div class="col-xs-9 ">
                    <a href="[%=o.objects[i].link%]">
                        <h3>[%=o.objects[i].title%]</h3>
                    </a>
                    <p class=" ">[%=o.objects[i].des%] </p>

                    <p class="lead">
                        <button class="btn btn-default hide">Read More</button>
                    </p>
                    <p class="pull-right hide"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span>
                    </p>
                    <ul class="list-inline">
                        <li>
                            <a href="#">[%=o.objects[i].date%]</a>
                        </li>
                        <li>
                            <a href="#">[%=o.objects[i].author%]</a>
                        </li>
                        <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 </a>
                        </li>
                        <li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <hr>
</div>
[% } %]
</script>

<script type="text/javascript">
    $(document).ready(
        function() {
            $('#infinitescroll-div').infinitescroll({
                    navSelector: "#next", // 页面分页元素(成功后会被隐藏)
                    nextSelector: "#next a", // 需要点击的下一页链接，和2的html要对应
                    itemSelector: ".scrollitem", // ajax回来之后，每一项的selecter
                    //（比如每篇文章都有item这个class）
                    animate: false, //加载完毕是否采用动态效果
                    extraScrollPx: 100, //向下滚动的像素，必须开启动态效果
                    debug: true, //调试的时候，可以打开
                    bufferPx: 400, //提示语展现的时长，数字越大，展现时间越短
                    dataType: 'json',
                    template: function(data) {
                        tmpl.regexp = /([\s'\\])(?!(?:[^[]|\[(?!%))*%\])|(?:\[%(=|#)([\s\S]+?)%\])|(\[%)|(%\])/g;
                        var html=tmpl('tmpl-mask',data);
                        return html;
                    },
                    loading: {
                        finishedMsg: '没有更多内容了', //当加载失败，或者加载不出内容之后的提示语
                        //img: 'loading-new.gif', //自定义loadding的动画图
                        msgText: '', //加载时的提示语
                    },
                },
                function(newElements) {
                    //成功后执行自定义的函数
                    //如果需要对新内容进行加工，就在这里实现
                    console.log("success");
                    $('#infinitescroll-div').append(newElements)

                }
            );
            //var html=tmpl('tmpl-mask',index);
            //$('#infinitescroll-div').append(html);
            
        }
    )
</script>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel ">
                <div class="panel-body"  id="infinitescroll-div">
                    <!--/stories-->
                    {% for post in posts %}
                    <div class="scrollitem">
                    <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center hide">
                            <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle">
                            </a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <div class="row">
                                <div class="col-xs-9">
                                    <a href="{{post.link}}">
                                        <!--/title-->
                                        <h3>{{post.title|title}}</h3>
                                    </a>
                                    <!--/descriptions-->
                                    <p class=" "> {{post.descriptions}} </p>

                                    <p class="lead">
                                        <button class="btn btn-default hide">Read More</button>
                                    </p>
                                    <p class="pull-right hide"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span>
                                    </p>
                                    <ul class="list-inline">
                                        <li><a href="#">{{post.date}}</a>
                                        </li>
                                        <li><a href="#">{{post.author}}</a>
                                        </li>
                                        <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 </a>
                                        </li>
                                        <li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                    <hr>
                    </div>
                    <!--/stories-->
                    {% endfor %}
                    <div class="scrollitem"> </div>
                    <!--/stories-->
                </div>
                <div id="next">
                    <a href="/api/feeds_item?page=1"></a>
                </div>
            </div>
        </div>
        <!--/col-9-->
    </div>
</div>

<ul>

</ul>

{% endblock %}